* {
    color: #333;
}

/* utility class  */





/* end utility class  */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    margin-bottom: 48px;
}

h3, nav div {
    display: flex;
    align-items: center;
    font-size: 20px;

}
nav img {
    height: 44px;
    margin-right: 12px;
}
nav h3 {
    font-size: 28px;
    line-height: 28px;
    font-weight: bold;
    color: grey;
}

nav .back-profile {
    background-color: purple;
    padding: 10px;
    border-radius: 50%;
    margin-left: 12px;
}

nav .back-profile i {
    color: white;
}

p {
    margin-bottom: 48px;
}
 
ol ol li:first-child {
    margin-top: 12px;
}
ol li {
    margin-bottom: 12px;
}

ol ol {
    list-style: lower-alpha ;
}

